In [7]:
import os
import pandas as pd

In [2]:
URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

In [5]:
os.system(f"wget {URL}")

--2023-01-28 15:59:03--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.201.28.151
Connecting to github.com (github.com)|20.201.28.151|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230128%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230128T185903Z&X-Amz-Expires=300&X-Amz-Signature=106556a27c9681f99ded58d6ef68334ae8f1ef2f503dd2e292b9789cfc2c73df&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2023-01-28 15:59:03--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230128%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230128T185903Z&X-Amz-Expires=300&X-Amz-Signature=106556a27c9681f99ded58d6ef68334ae8f1ef2f503dd2e292b9789cfc2c73df&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

     0K .......... ..                                         100% 6,70M=0,002s

2023-01-28 15:59:04 (6,70 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

0

In [8]:
df = pd.read_csv('taxi_zone_lookup.csv', nrows=100)

In [9]:
df

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
engine.connect()

In [13]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup.csv', con=engine))

CREATE TABLE "taxi_zone_lookup.csv" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [16]:
df.head(n=0).to_sql(name='zone', con=engine, if_exists='replace')

0

In [19]:
df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=100000)

In [20]:
df = next(df_iter)

In [21]:
len(df)

265

In [23]:
df.to_sql(name='zone', con=engine, if_exists='append')

265