In [1]:
import pandas as pd
import os

In [2]:
URL="https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

In [3]:
csv_name = "green_zone.csv"

In [8]:
os.system(f"wget {URL} -O {csv_name}")

--2023-01-29 23:41:23--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.130.72, 52.217.103.86, 52.217.204.104, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.130.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘green_zone.csv’

     0K .......... ..                                         100% 18,4M=0,001s

2023-01-29 23:41:24 (18,4 MB/s) - ‘green_zone.csv’ saved [12322/12322]

0

In [25]:
df = pd.read_csv(f'{csv_name}')

In [10]:
df

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [11]:
df.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [12]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
engine.connect()

In [15]:
print(pd.io.sql.get_schema(df, name='{csv_name}', con=engine))

CREATE TABLE "{csv_name}" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [17]:
df.head(n=0).to_sql(name='green_zone', con=engine, if_exists='replace')

0

In [26]:
df.to_sql(name='green_zone', con=engine, if_exists='replace')

265